*::before,
*::after,
* {
    box-sizing: border-box;
    margin: 0;
    
}

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


body {
    font-family: 'Bai Jamjuree', sans-serif;

}

.main-logo {
    width: 6.5em;
    margin: 2.5em 0;

}

main {
    text-align: center;
    padding: 5em 3em;

    
}

.hero {


    h1 {
        margin-bottom: 1.5em;
        font-size: 1.6rem;
    }

    p {
        font-size: .8rem;
        color: gray;
    }

    img {
        width: 15em;
    }


    button {
        width: 100%;
        border-radius: 2em;
        padding: 1em;
        margin-top: 1em;
    }

    .downloads {
        .btn-ios {
            background-color: hsl(171, 66%, 44%);
            border: none;
            font-family: inherit;
            font-size: .8rem;
            font-weight: 600;
            color: white;
        }

        .btn-ios:hover {
            cursor: pointer;
        }


        .btn-mac {
            background-color: hsl(233, 100%, 69%);
            border: none;
            font-family: inherit;
            font-size: .8rem;
            font-weight: 600;
            color: white;
        
        }

        .btn-mac:hover {
            cursor: pointer;
        }
    }

    h2 {
        margin-top: 6em;
    }
    
    .paragraph-snippets {
        margin: 2em 0;
    }



    .right-col {

        .quick-search {
            h3 {
                margin-top: 2em;

            }

            p {
                margin-top: .8em;
            }
        }

        .icloud-sync {

            h3 {
                margin-top: 1.7em;

            }

            p {
                margin-top: .8em;
            }
        }

        .complete-history {
            h3 {
                margin-top: 1.7em;

            }

            p {
                margin-top: .8em;
            }
        }


    }


    .access-clipboard-anywhere {
        p {
            margin: 1em 0;
        }
    }


    .img-device {
        margin-top: 2.5em;
        width: 18em;
    }

    
}

.tools-section {
    padding: 1em 3em;
    text-align: center;

    p {
        color: gray;
    }


    .workflow-title {
        p {
            margin-top: 1em;
        }
    }

    .workflow-list {

        margin-top: 2em;


         h3 {
            margin: 1em 0;
         }

         p {
            margin: 1em 0;
         }

         img {
            margin-top: 2em;
         }
    }
}

.supports {
    ul {
        list-style-type: none;

        text-align: center;
        padding: 0;

        li {
            text-align: center;
            margin: 3em 0;
        }
    }
}

.clipboards {
    padding: 5em 3em;
    text-align: center;

    h2 {
        font-size: 1.6rem;
    }

    p {
        font-size: .8rem;
        color: gray;
        margin-top: 1.5em;
        line-height: 1.7em;
        font-size: 1rem;
    }


    .downloads {
        margin-top: 2em;
        

        button {
            width: 100%;
            border-radius: 2em;
            padding: 1em;
            margin-top: 1em;
        }

        .btn-ios {
            background-color: hsl(171, 66%, 44%);
            border: none;
            font-family: inherit;
            font-size: .8rem;
            font-weight: 600;
            color: white;
        }

        .btn-ios:hover {
            cursor: pointer;
        }


        .btn-mac {
            background-color: hsl(233, 100%, 69%);
            border: none;
            font-family: inherit;
            font-size: .8rem;
            font-weight: 600;
            color: white;
        
        }

        .btn-mac:hover {
            cursor: pointer;
        }
    }
}

footer {
    text-align: center;
    background-color: hsl(220, 3%, 77%);
    padding: 0;
    bottom: 0;
    height: 60vh;

    .footer-logo {
        img {
            width: 3em;
            margin-top: 3em;
        }
    }


    ul {
        list-style-type: none;
        padding: 0;
        
        li {
            margin: 1.5em 0;
            color: hsl(210, 3%, 29%);
            font-weight: bold;
        }


    }
}

@media only screen and (min-width:780px) {

    main {
        padding: 0;
    }

    .hero {

        

        h1 {
            font-size: 2.5rem;
            margin-bottom: .5em;
        }

        p {
            
            font-size: 1rem;
            padding: .5em 2em;

            
            
        }

        .downloads {
            display: flex;
            gap: 1em;
            width: 25em;
            justify-content: center;
            margin:  auto;
        }


        .second-hero {
            display: flex;
            justify-content: center;
            



            .left-col {
                
                img {
                    width: 30em;
                    transform: translateX(-20%);
                    
                }
            }

            .right-col {
                width: 30%;
                padding: 1em 1em;
            }
        }

        .img-device {
            width: 40em;
            transition: .5s;
        }
    }

    .workflow-list{
        display: flex;
        justify-content: center;
    }

    .supports {
        margin: 5em 0;
        ul {
            display: flex;
            justify-content: space-evenly;
            gap: .8em;
        }
    }

    .clipboards {
        .downloads {
            display: flex;
            gap: 1em;
            width: 25em;
            justify-content: center;
            margin:  auto;
        }
    }

    footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 25vh;

        ul {
            display: flex;
            gap: 3em;
        }

        .footer-logo {
             img {
                margin-top: 0;
             }
        }
    }


}

@media only screen and (min-width: 1200px) {


   .hero {

    
    .second-hero {
        .left-col {
            img {
                width: 40em;
                transition:  0.5s;
            }
        }
       }

       .img-device {
        width: 50em;
        transition: .2s;
    }
   }

   
}

