*::before,
*::after,
* {
    box-sizing: border-box;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


body {
    font-family: 'Bai Jamjuree', sans-serif;

}

.main-logo {
    width: 6.5em;
    margin: 2.5em 0;

}

main {
    text-align: center;
    padding: 5em 3em;

    
}

.hero {


    h1 {
        margin-bottom: 1.5em;
        font-size: 1.6rem;
    }

    p {
        font-size: .8rem;
        color: gray;
    }

    img {
        width: 15em;
    }


    button {
        width: 100%;
        border-radius: 2em;
        padding: 1em;
        margin-top: 1em;
    }

    .downloads {
        .btn-ios {
            background-color: hsl(171, 66%, 44%);
            border: none;
            font-family: inherit;
            font-size: .8rem;
            font-weight: 600;
            color: white;
        }

        .btn-ios:hover {
            cursor: pointer;
        }


        .btn-mac {
            background-color: hsl(233, 100%, 69%);
            border: none;
            font-family: inherit;
            font-size: .8rem;
            font-weight: 600;
            color: white;
        
        }

        .btn-mac:hover {
            cursor: pointer;
        }
    }

    h2 {
        margin-top: 6em;
    }
    
    .paragraph-snippets {
        margin: 2em 0;
    }



    .right-col {

        .quick-search {
            h3 {
                margin-top: 2em;

            }

            p {
                margin-top: .8em;
            }
        }

        .icloud-sync {

            h3 {
                margin-top: 1.7em;

            }

            p {
                margin-top: .8em;
            }
        }

        .complete-history {
            h3 {
                margin-top: 1.7em;

            }

            p {
                margin-top: .8em;
            }
        }


    }


    .access-clipboard-anywhere {
        p {
            margin: 1em 0;
        }
    }


    .img-device {
        margin-top: 2.5em;
        width: 18em;
    }

    
}

.tools-section {
    padding: 1em 3em;
    text-align: center;

    p {
        color: gray;
    }


    .workflow-title {
        p {
            margin-top: 1em;
        }
    }

    .workflow-list {

        margin-top: 2em;


         h3 {
            margin: 1em 0;
         }

         p {
            margin: 1em 0;
         }

         img {
            margin-top: 2em;
         }
    }
}

.supports {
    ul {
        list-style-type: none;

        text-align: center;
        padding: 0;

        li {
            text-align: center;
            margin: 3em 0;
        }
    }
}